$text-default: #333333;
$normal: #9d5cd0;
$hover: #c283f3;
$focus: #7943a4;
$white: #fff;
$black: #000;
$border: #d1a9f0;
$gray: #b3b3b3;
$light-grey: #ccc;
$dark-grey: #999;
$ec: #ececec;
$border-top: #cacaca;
$hov: #eaeaea;
