$text-default: #333;
$normal: #3615f1;
$hover: #40a0fa;
$focus: #0c0381;
$white: #fff;
$black: #000;
$border: #6196f7;
$gray: #b3b3b3;
$light-grey: #ccc;
$dark-grey: #999;
$ec: #ececec;
$border-top: #cacaca;
$hov: #eaeaea;
