.contacts {

  &__form {
    padding: 38px 0;
    border-top: 1px solid $border-top;
    border-bottom: 1px solid $border-top;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-info-text {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 24px;
  }

  &__form-info-address {
    font-style: normal;
  }

  &__form-social-title {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 24px;

  }
}

.contacts-form {
  display: flex;
  justify-content: space-between;
  max-width: 909px;
  width: 100%;

  &__input {
    padding: 9px 24px;
    width: 270px;
    height: 50px;
    border: none;
    background-color: $white;
    border: 1px solid $text-default;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;

    &:focus {
      background-color: $hov;
    }

    &:hover {
      background-color: $hov;
    }

    &:active {
      background-color: $white;
    }

    &::placeholder {
      font-family: 'OpenSans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: $dark-grey;
    }
  }

  &__btn {
    height: 50px;
    padding: 5px 35px;
    border: 2px solid $normal;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    color: $normal;
    transition: background-color 0.2s, color 0.2s;
    outline: none;

    &:focus {
      background-color: $focus;
      color: $white;
    }

    &:hover {
      background-color: $normal;
      color: $white;
    }

    &:active {
      background-color: $border;
      color: $text-default;
    }

  }
}

.social-list {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.2s;
    border: 1px solid transparent;

    &:focus {
      outline: 0;
      opacity: 0.5;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
      border: 1px solid $focus;
      border-radius: 50px;
    }

    &--whatsapp {
      background-image: url('../../images/icons/whatsapp.svg');
    }

    &--telegram {
      background-image: url('../../images/icons/telegram.svg');
    }
  }
}

#contacts__map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}
