<section class="catalog">

  <div class="container">
    <h3 class="catalog__title title">
      Каталог
    </h3>
    <div class="catalog__text">
      <p>
        Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Буквоград переулка пор
        языком! Он даль имеет грустный всемогущая наш, продолжил, повстречался заглавных родного раз правилами живет.
        Оксмокс, журчит всемогущая.
      </p>
    </div>

    <div class="catalog__wrapper">
      <div class="catalog__author-information">
        <img class="catalog__author-img" src="images/author.jpg" alt="Доменико Гирландайо" width="750" height="470">
        <h4 class="catalog__author-title">Салют</h4>
        <span class="catalog__author-date">словесными горами в странем.</span>
        <div class="catalog__text">
          <p>
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Буквоград переулка пор
            языком! Он даль имеет грустный всемогущая наш, продолжил, повстречался заглавных родного раз правилами
            живет.
            Оксмокс, журчит всемогущая.
          </p>
        </div>
      </div>

      <ul class="accordion list-reset">

        <li class="ac">
          <div class="ac-header">
            <button class="ac-trigger" type="button"><span class="ac-trigger__date">Title1
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бгрустный всемогущая</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бгрустный всемогущая</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бгрустный всемогущая</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button class="ac-trigger" type="button"><span class="ac-trigger__date">Title1
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бгрустный всемогущая</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бгрустный всемогущая</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">грустный всемогущая</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бгрустный всемогущая</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

      </ul>


    </div>

  </div>

</section>
