<section class="catalog">

  <div class="container">
    <h3 class="catalog__title title">
      Каталог
    </h3>
    <div class="catalog__text">
      <p>
        Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа
        политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего
        лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и по сей день
        остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы.
      </p>
    </div>

    <div class="catalog__wrapper">
      <div class="catalog__author-information">
        <img class="catalog__author-img" src="images/author.jpg" alt="Доменико Гирландайо" width="750" height="470">
        <h4 class="catalog__author-title">Доменико Гирландайо</h4>
        <span class="catalog__author-date">2 июня 1448 — 11 января 1494.</span>
        <div class="catalog__text">
          <p>
            Один из ведущих флорентийских художников Кватроченто, основатель художественной династии,
            которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный
            Микеланджело в течение года овладевал профессиональными навыками. Автор фресковых циклов, в
            которых выпукло, со всевозможными подробностями показана домашняя жизнь библейских персонажей (в
            их роли выступают знатные граждане Флоренции в костюмах того времени).
          </p>
        </div>
      </div>

      <ul class="accordion list-reset">

        <li class="ac">
          <div class="ac-header">
            <button class="ac-trigger" type="button"><span class="ac-trigger__date">C 1400 по 1499
                гг.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger"><span class="ac-trigger__date">C 1500 по 1599 гг.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger"><span class="ac-trigger__date">C 1600 по 1699 гг.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger"><span class="ac-trigger__date">C 1700 по 1799 гг.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger"><span class="ac-trigger__date">C 1800 по 1899 гг.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger"><span class="ac-trigger__date">C 1900 по 1999 гг.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

        <li class="ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger"><span class="ac-trigger__date">C 2000 г.
              </span>
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

              <ul class="ac-text__list list-reset">
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бенедетто ди Биндо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бергоньоне, Амброджо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Биссоло, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Больтраффио, Джованни</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бонсиньори, Франческо</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Боттичини, Рафаэлло</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Брамантино</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бреа, Людовико</a>
                </li>
                <li class="ac-text__item">
                  <a class="ac-text__link link-ul" href="#">Бьяджо д’Антонио Туччи</a>
                </li>
              </ul>

            </div>
          </div>
        </li>

      </ul>


    </div>

  </div>

</section>
