<section class="contacts">
  <h2 class="sr-only">Один из ведущих флорентийских художников Кватроченто</h2>
  <div class="contacts__form">
    <div class="container">
      <div class="contacts__inner">
        <div class="contacts__form-info">
          <div class="contacts__form-info-text">Шоурум №4</div>
          <address class="contacts__form-info-address">
            Леонтьевский переулок, дом 5/1
          </address>

        </div>

        <form class="contacts-form">
          <label class="contacts-form__labl">
            <input class="contacts-form__input" type="text" placeholder="Имя*">
          </label>
          <label class="contacts-form__label">
            <input class="contacts-form__input" type="text" placeholder="Телефон*">
          </label>
          <button class="contacts-form__btn btn-reset" type="submit">Заказать обратный звонок</button>
        </form>

        <div class="contacts__form-social">

          <div class="contacts__form-social-title">
            Связаться в один клик
          </div>

          <ul class="social-list list-reset">
            <li class="social-list__item">
              <a class="social-list__link social-list__link--whatsapp" href="#"></a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link social-list__link--telegram" href="#"></a>
            </li>
          </ul>

        </div>
      </div>

    </div>

  </div>

  <div id="contacts__map"></div>

</section>