<section class="events">
  <div class="container">
    <h3 class="events__title title">
      События
    </h3>

    <div class="events-swiper">
      <ul class="events-swiper__wrapper swiper-wrapper list-reset">

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events1.jpg" alt="Книжная гравюра в живом восприятии" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Далеко-далеко <br>
                  Далеко-далеко
                </span>
                <h4 class="card-events__info-title">Далеко-далеко за словесными горами</h4>
                <div class="card-events__info-text">
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Журчит злых
                    дороге лучше мир своего ты одна продолжил дорогу решила
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events1.jpg" alt="Книжная гравюра в живом восприятии" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Далеко-далеко <br>
                  Далеко-далеко
                </span>
                <h4 class="card-events__info-title">Далеко-далеко за словесными горами</h4>
                <div class="card-events__info-text">
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Журчит злых
                    дороге лучше мир своего ты одна продолжил дорогу решила
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events1.jpg" alt="Книжная гравюра в живом восприятии" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Далеко-далеко <br>
                  Далеко-далеко
                </span>
                <h4 class="card-events__info-title">Далеко-далеко за словесными горами</h4>
                <div class="card-events__info-text">
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Журчит злых
                    дороге лучше мир своего ты одна продолжил дорогу решила
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events1.jpg" alt="Книжная гравюра в живом восприятии" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Далеко-далеко <br>
                  Далеко-далеко
                </span>
                <h4 class="card-events__info-title">Далеко-далеко за словесными горами</h4>
                <div class="card-events__info-text">
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Журчит злых
                    дороге лучше мир своего ты одна продолжил дорогу решила
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events1.jpg" alt="Книжная гравюра в живом восприятии" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Далеко-далеко <br>
                  Далеко-далеко
                </span>
                <h4 class="card-events__info-title">Далеко-далеко за словесными горами</h4>
                <div class="card-events__info-text">
                  <p>
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Журчит злых
                    дороге лучше мир своего ты одна продолжил дорогу решила
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>



      </ul>
      <div class="slider-btn slider-btn--next events-swiper__next">
        <span class="sr-only">кнопка следующий слайд</span>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
