<section class="events">
  <div class="container">
    <h3 class="events__title title">
      События
    </h3>

    <div class="events-swiper">
      <ul class="events-swiper__wrapper swiper-wrapper list-reset">

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events1.jpg" alt="Книжная гравюра в живом восприятии" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Музей им. Щусева<br>
                  с 20 марта по 30 апреля
                </span>
                <h4 class="card-events__info-title">Книжная гравюра в живом восприятии</h4>
                <div class="card-events__info-text">
                  <p>
                    Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                    продолжили его брат Давид и сын Ридольфо.
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events2.jpg" alt="«Открытая дискуссия». Дмитрий Петров и Сергей Ильин." width="500"
              height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  ММОМА<br>
                  24 марта 19:00
                </span>
                <h4 class="card-events__info-title">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h4>
                <div class="card-events__info-text">
                  <p>
                    Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого
                    факта.
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events3.jpg" alt="Выставка «Формация 2020»" width="500" height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Еврейский музей<br>
                  с 31 марта по 21 апреля
                </span>
                <h4 class="card-events__info-title">Выставка «Формация 2020»</h4>
                <div class="card-events__info-text">
                  <p>
                    Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в
                    формировании глубокомысленных рассуждений.
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events4.jpg" alt="Джон Винзор. Фотографии из серии «Метафора серебра»" width="500"
              height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  ММАМ<br>
                  с 8 апреля по 20 мая
                </span>
                <h4 class="card-events__info-title">Джон Винзор. Фотографии из серии «Метафора серебра»</h4>
                <div class="card-events__info-text">
                  <p>
                    Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую
                    продолжили его брат Давид и сын Ридольфо.
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

        <li class="events-swiper__slide swiper-slide">
          <article class="card-events">

            <img src="images/events/events5.jpg" alt="XXIV Международная биеннале молодого искусства" width="500"
              height="300">

            <div class="card-events__content">

              <div class="card-events__info">
                <span class="card-events__info-date">
                  Третьяковка на Крымском валу<br>
                  с 30 марта по 30 апреля
                </span>
                <h4 class="card-events__info-title">XXIV Международная биеннале молодого искусства</h4>
                <div class="card-events__info-text">
                  <p>
                    Внезапно, реплицированные с зарубежных источников, современные исследования.
                  </p>
                </div>
              </div>

              <div class="card-events__links">
                <a class="link-ul card-events__link" href="#">Подробнее</a>
              </div>

            </div>

          </article>
        </li>

      </ul>
      <div class="slider-btn slider-btn--next events-swiper__next">
        <span class="sr-only">кнопка следующий слайд</span>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
