<section class="gallery">
  <div class="container">

    <div class="gallery__inner">

      <div class="gallery-filter">

        <h3 class="gallery-filter__title title">Галерея</h3>
        <span class="gallery-filter__filter">Фильтр:</span>

        <select class="gallery-filter__select filter-styles">
          <option class="gallery-filter__option">Живопись</option>
          <option class="gallery-filter__option">Рисунок</option>
          <option class="gallery-filter__option">Скульптура</option>
        </select>

        <form class="gallery-filter__form">
          <label class="gallery-filter__label">
            <input class="gallery-filter__input filter-styles" type="radio" name="radio">
            <span class="gallery-filter__text">XIX век</span>
          </label>
          <label class="gallery-filter__label">
            <input class="gallery-filter__input filter-styles" type="radio" name="radio" checked>
            <span class="gallery-filter__text">XX век</span>
          </label>
          <label class="gallery-filter__label">
            <input class="gallery-filter__input filter-styles" type="radio" name="radio">
            <span class="gallery-filter__text">Современность</span>
          </label>
        </form>

      </div>

      <div class="gallery-slider">
        <div class="gallery-slider__inner">

          <ul class="gallery-slider__list list-reset swiper-wrapper">
            <li class="gallery-slider__item swiper-slide">
              <img src="images/slider/slide1.jpg" alt="фотография">
            </li>
            <li class="gallery-slider__item swiper-slide">
              <img src="images/slider/slide2.jpg" alt="фотография">
            </li>
            <li class="gallery-slider__item swiper-slide">
              <img src="images/slider/slide3.jpg" alt="фотография">
            </li>
            <li class="gallery-slider__item swiper-slide">
              <img src="images/slider/slide4.jpg" alt="фотография">
            </li>
            <li class="gallery-slider__item swiper-slide">
              <img src="images/slider/slide5.jpg" alt="фотография">
            </li>
            <li class="gallery-slider__item swiper-slide">
              <img src="images/slider/slide6.jpg" alt="фотография">
            </li>
          </ul>

          <div class="gallery-slider__btn-box">

            <div class="slider-btn slider-btn--prev">
              <span class="sr-only">кнопка предыдущий слайд</span>
            </div>
            <div class="gallery-slider__pagination"></div>
            <div class="slider-btn slider-btn--next">
              <span class="sr-only">кнопка следующий слайд</span>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
