<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">

        <a class="logo link-ul" href="#">
          <img class="logo__img" loading="lazy" src="images/logo.png" width="173" height="40" alt="логотип" />
        </a>

        <nav class="nav" title="главное меню">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#about" class="nav__link link-ul" data-scroll>ссылка1</a>
            </li>
            <li class="nav__item">
              <a href="#trainers" class="nav__link link-ul" data-scroll>ссылка2</a>
            </li>
            <li class="nav__item">
              <a href="#price" class="nav__link link-ul" data-scroll>ссылка3</a>
            </li>
            <li class="nav__item">
              <a href="#price" class="nav__link link-ul" data-scroll>ссылка4</a>
            </li>
            <li class="nav__item">
              <a href="#price" class="nav__link link-ul" data-scroll>ссылка5</a>
            </li>
            <li class="nav__item">
              <a href="#price" class="nav__link link-ul" data-scroll>ссылка6</a>
            </li>
          </ul>
        </nav>

        <a class="exit-btn btn-reset link-ul" href="#">Войти</a>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">

      <div class="header__bottom-inner">

        <nav class="selection-menu">
          <ul class="selection-menu__list list-reset">

            <li class="selection-menu__item">
              <button class="selection-menu__btn btn-reset link-ul">
                Кнопка1
              </button>

              <ul class=" list-scroll list-reset" data-simplebar>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="#" style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="#" style="
                          background-image: url('images/bg/select/link2.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link3.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="#" style="
                          background-image: url('images/bg/select/link4.jpg');
                        ">Link</a>
                </li>

              </ul>
            </li>

            <li class="selection-menu__item">
              <button class="selection-menu__btn btn-reset link-ul">
                Кнопка2
              </button>

              <ul class="list-scroll list-reset" data-simplebar>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
              </ul>
            </li>

            <li class="selection-menu__item">
              <button class="selection-menu__btn btn-reset link-ul">
                Кнопка3
              </button>

              <ul class="list-scroll list-reset" data-simplebar>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
              </ul>
            </li>

            <li class="selection-menu__item">
              <button class="selection-menu__btn btn-reset link-ul">
                Кнопка4
              </button>

              <ul class="list-scroll list-reset" data-simplebar>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
              </ul>

            </li>

            <li class="selection-menu__item">
              <button class="selection-menu__btn btn-reset link-ul">
                Кнопка5
              </button>

              <ul class="list-scroll list-reset" data-simplebar>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="#" style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="#" style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
                <li class="list-scroll__item">
                  <a class="list-scroll__link" href="# " style="
                          background-image: url('images/bg/select/link1.jpg');
                        ">Link</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <form class="form-search">
          <button class="form-search__btn btn-reset" type="submit">
            <span class="sr-only">поиск по сайту</span>
          </button>
          <label class="form-search__label">
            <input class="form-search__input" type="text" placeholder="Поиск">
          </label>
        </form>
      </div>

    </div>
  </div>
</header>
