<section class="project">
  <div class="container">
    <h3 class="title project__title">Project</h3>
    <div class="project__text">
      <p>
        Далеко-далеко за словесными горами в стране гласных и согласных живут,
        рыбные тексты. Выйти подпоясал буквоград языком страну имени до наш себя
        коварный. Даже большого образ на берегу злых ipsum, о имени своего
        силуэт!<button class="tultip tultip-1 btn-reset" data-tippy-root></button>Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Iure itaque
        ipsam numquam consequatur. Facere rerum fuga ipsa vel nam perferendis.
        Debitis recusandae odit fugit totam, natus nostrum eligendi pariatur
        excepturi.<button class="tultip tultip-2 btn-reset"></button>исключительно в разрезе маркетинговых и
        финансовых<button class="tultip tultip-3 btn-reset"></button>Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Adipisci
        aperiam neque impedit ex laudantium incidunt dolor, nostrum obcaecati
        perspiciatis quidem dignissimos! Officia ab, vel commodi esse nesciunt
        amet deserunt! Laborum. Подробнее:
        <a class="project__text-link link-ul" href="#">hjsfsff@mail.ru</a>
      </p>
    </div>
    <h4 class="project__partners-title">Слайды:</h4>

    <div class="project__partners-slider">
      <div class="slider-btn slider-btn--prev">
        <span class="sr-only">кнопка предыдущий слайд</span>
      </div>
      <div class="project-slider">
        <ul class="project-slider__wrapper swiper-wrapper list-reset">
          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="../../images/slider-2/1.jpg" alt="картинка" />
            </a>
          </li>
          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="../../images/slider-2/3.jpg" alt="картинка" />
            </a>
          </li>
          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="../../images/slider-2/3.jpg" alt="картинка" />
            </a>
          </li>
          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="../../images/slider-2/4.jpg" alt="картинка" />
            </a>
          </li>
          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="../../images/slider-2/1.jpg" alt="картинка" />
            </a>
          </li>
        </ul>

        <div class="project-slider__pagination"></div>
      </div>
      <div class="slider-btn slider-btn--next">
        <span class="sr-only">кнопка следующий слайд</span>
      </div>
    </div>
  </div>
</section>
