<section class="project">
  <div class="container">
    <h3 class="title project__title ">
      Проекты
    </h3>
    <div class="project__text">
      <p>
        Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно
        фиксирует необходимость своевременного выполнения сверхзадачи. А ещё независимые государства смешаны с не
        уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Прежде
        всего, постоянное информационно-пропагандистское<button class="tultip tultip-1 btn-reset"
          data-tippy-root></button>обеспечение
        нашей
        деятельности однозначно фиксирует
        необходимость экономической целесообразности принимаемых решений. И нет сомнений, что действия представителей
        оппозиции могут быть рассмотрены<button class="tultip tultip-2 btn-reset"></button>исключительно в разрезе
        маркетинговых и
        финансовых<button class="tultip tultip-3 btn-reset"></button>предпосылок. Банальные, но
        неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям,
        которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости.
        Подробнее: <a class="project__text-link link-ul" href="#">blanchard-art.ru/projects</a>
      </p>
    </div>
    <h4 class="project__partners-title">Партнёры проектов:</h4>

    <div class="project__partners-slider">

      <div class="slider-btn slider-btn--prev">
        <span class="sr-only">кнопка предыдущий слайд</span>
      </div>
      <div class="project-slider">
        <ul class="project-slider__wrapper swiper-wrapper list-reset">

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie1.png" alt="картинка">
            </a>
          </li>

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie2.png" alt="картинка">
            </a>
          </li>
          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie3.png" alt="картинка">
            </a>
          </li>

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie4.png" alt="картинка">
            </a>
          </li>

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie5.png" alt="картинка">
            </a>
          </li>

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie6.png" alt="">
            </a>
          </li>

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie7.png" alt="">
            </a>
          </li>

          <li class="project-slider__slide swiper-slide">
            <a class="project-slider__link" href="">
              <img class="project-slider__img" src="images/slider-2/slie8.png" alt="">
            </a>
          </li>

        </ul>

        <div class="project-slider__pagination"></div>

      </div>
      <div class="slider-btn slider-btn--next">
        <span class="sr-only">кнопка следующий слайд</span>
      </div>

    </div>

  </div>

</section>
